@import "./../reset.css";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Lobster', cursive;
}

:root{
    --main-blue-color: #0059FF;
}

.container {
    max-width: 1350px;
    padding: 0 30px;
    margin: 0 auto;
}

.anim-show-trans{
    transform: translateX(-150%);
    animation: ani-trans 1s forwards;
}

.anim-show-op{
    opacity: 0;
    animation: ani-op 1s forwards;
}

@keyframes ani-trans {
    0% {transform: translateX(-150%);}
    100% {transform: translateY(0);}
}

@keyframes ani-op {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* HEADER */

header {
    background-color: var(--main-blue-color);
    max-height: 80px;
    font-size: 30px;
    text-align: center;
    padding: 0 auto;
}

.header-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    height: 80px;
}
.item-header {
   height: 100%;
   display: flex;
   align-items: stretch;
}
.logo img{
    height: 80px;
}

.navigation {
    width: 60%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    height: 100%;
}
.nav-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0px 50px;
    transition: all .5s ease-in-out;
    box-shadow: 0px 0px 0px var(--main-blue-color);
}
.nav-item:hover {
    padding: 0px 100px;
    background-color: #fff;
    box-shadow: 0px 5px 5px var(--main-blue-color);
}
.nav-item a {
    position: relative;
    color: #fff;
    transition: all .5s ease-in-out;
}

.nav-item a::before {
    content: "";
    position: absolute;
    height: 10%;
    top: 2.5rem;
    left: 10rem;
    right: 10rem;
    width: auto;
    background-color: var(--main-blue-color);
    transition: all .7s ease-in-out;
}
.nav-item:hover a {
    color: var(--main-blue-color);
}

.nav-item:hover  a::before {
    left: 0;
    right: 0;
}
.contact {
    height: 100%;
    display: flex;
    align-items: center;
    left: auto;
}


/* Style for animated old CARDs */

.container-prod {
    width: 77vw;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: rgba(0, 89, 255, .7);
    border-radius: 2vw;
    /* padding-left: 10vw; */
}

.container-prod .card-hover {
    margin: 1vw;
    width: 20vw;
    height: 50vh;
    cursor: pointer;
    flex-direction: column;
    overflow: hidden;
    border-radius: 2vw;
    transition: all .75s ease-in-out;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-top: 100px;
    color: var(--main-blue-color);
}

.container-prod .card-hover p {
    background-color: rgba(255, 255, 255, .7);
    padding: 10px 20px ;
    text-align: center;
    font-size: 30px;
    border-radius: 2vw; 
    margin-bottom: 20px;
    transition: all .4s ease-in-out;
}

.container-prod .card-hover .des-hide {
    transform: translateY(25vw);
    border-radius: 1vw;
    width: 20vw;
    font-size: 20px;
    /* color: #000; */
    /* background-color: #fff; */
    background-color: var(--main-blue-color);
    color: #fff;
    padding: 10px 15px;
    text-align: justify;
    transition: all .7s ease-in-out;
}

.container-prod .card-hover:hover .des-hide {
    transform: translateY(0%);
}

.container-prod .card-hover:hover p {
    background-color: rgba(255, 255, 255, 1);
}

.container-prod .card-hover:hover {
    width: 30vw;
    padding-top: 20px;
}

.img-maslo {
    background: url("../img/maslo.JPG");
    background-size:  auto 30vw ;
    background-position: -10vw;
}
.img-maslo:hover {
    background-position: -3vw;
}

.img-mol {
    background-image: url();
    background: url("../img/mol.JPG");
    background-size: auto 30vw;
    background-position-x: -3vw;
}

.img-sm {
    background: url("../img/smetana.JPG");
    background-size: auto 30vw;
    background-position-x: -15vw;
}

.img-sm:hover {
    background-position-x: -7vw;
}

/* Section part thesis */
.part-thesis {
    position: relative;
    background-image: url('../img/trava/1-trav.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0 200px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.part-thesis h2 {
    font-size: 8vh;
    text-align: center;
    padding: 1.5vh 5vh;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .7); 
    color: var(--main-blue-color);
    border-radius: 3vh;
    margin-bottom: 5vh;

}

/* NEW Card */
.group-card {
    padding: 30px 50px;
    display: flex;
    column-gap: 50px;
    text-align: center;
    background: rgba(0, 89, 255, .7);
    border-radius: 30px;
}

.group-card .card:nth-child(1){
    background-image: url('../img/maslo.JPG');
    background-size:  auto 100%;
    background-position-x: 50%;
}

.group-card .card:nth-child(2){
    background-image: url('../img/smetana.JPG');
    background-size:  auto 100%;
    background-position-x: 75%;
}

.group-card .card:hover:nth-child(2){
    background-position-x: 100%;
}


.group-card .card:nth-child(3){
    background-image: url('../img/mol.JPG');
    background-size:  auto 100%;
    background-position-x: 15%;
}


.group-card .card {
    display: flex;
    position: relative;
    flex: 1 1 0;
    min-width: 300px;
    border-radius: 30px;
    padding: 150px 30px;
    
    justify-content: center;
    transition: all .5s ease-in-out;
}

.group-card .card:hover{
    padding: 150px 150px;
}

.group-card .card p {
    display: block;
    z-index: 2;
    font-size: 24px;
    width: fit-content;
    padding: 10px 15px;
    color: var(--main-blue-color);
    background-color: #fff;
    border-radius: 15px;
    transition: all .5s ease-in-out;
}

.group-card .card:hover p {
    transform: translateY(-100px)
}

.group-card .card span {
    position: absolute;
    top: 90px;
    z-index: 0;
    padding: 10px 15px;
    font-size: 20px;
    
    background-color: var(--main-blue-color);
    color: #fff;
    border-radius: 15px;
    width: 320px;
    height: 50%;
    transition: all .7s ease-in-out;
    scale: 0.1;
}

.group-card .card:hover span{
    top: 120px;
    scale: 1;
}

/* Wave Banner Animated */

.sec-wave {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #000;
}
.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url('../img/wave.png');
    background-size: 1000px 100px;
}

.wave.wave1 {
    animation: animwave 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
.wave.wave2 {
    animation: animwave2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
.wave.wave3 {
    animation: animwave 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15;
}
.wave.wave4 {
    animation: animwave2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animwave {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}
@keyframes animwave2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}

/* Second section */
.dignity {
    background-color: #fff;
    padding: 50px 0 100px 0;
    font-size: 20px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

.par1, .par2, .par3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    /* margin: 50px 0; */
    width: 400px;

    border-radius: 30px;
    padding: 150px 30px 50px 30px;
    /* box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8); */
    /* Объем добавляет */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
    /* След слева снизу */
    /* box-shadow: rgba(46, 224, 240, 0.4) -5px 5px, rgba(46, 224, 240, 0.3) -10px 10px, rgba(46, 224, 240, 0.2) -15px 15px, rgba(46, 224, 240, 0.1) -20px 20px, rgba(46, 224, 240, 0.05) -25px 25px; */

    /* След справа снизу */
    /* box-shadow: rgba(46, 224, 240, 0.4) 5px 5px, rgba(46, 224, 240, 0.3) 10px 10px, rgba(46, 224, 240, 0.2) 15px 15px, rgba(46, 224, 240, 0.1) 20px 20px, rgba(46, 224, 240, 0.05) 25px 25px; */

    /* След с обводкой внутри для выделения блока во избежание слияния с задним фоном */
    /* box-shadow:  -10px 10px 0px 0px rgba(33,33,33,1),
                    -20px 20px 0px 0px rgba(33,33,33,0.7),
                    -30px 30px 0px 0px rgba(33,33,33,0.4),
                    -40px 40px 0px 0px rgba(33,33,33,0.1),
                    0px 0px 0px 6px rgba(0,0,0,1) inset; */

}

.par1>p, .par2>p, .par3>p {
    text-align: center;
}

.par2 {
    margin: -50px 0 -50px auto;
}

.par1::before, .par2::before, .par3::before {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 30px;
}

.par1::before {
    content: url("../img/nature_qocrmrw4vdth.svg");
}

.par2::before {
    content: url("../img/guarantee_cghbjgaa943h.svg");
}

.par3::before {
    content: url("../img/guarantee_cghbjgaa943h.svg");
}

/* deliveru section*/

.line {
    height: 20px;
    width: 100%;
    background: var(--main-blue-color);
}

.deliveru-reg {
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.deliveru-reg h3 {
    position: relative;
    width: fit-content; 
    text-align: center;
    margin: 0 auto -10px auto;
    font-size: 60px;
    color: var(--main-blue-color);
}
.deliveru-reg h3::before{
    position: absolute;
    content: "";
    height: 5px;
    left: 0;
    right: 0;
    bottom: -10px;
    background: var(--main-blue-color);
}

.map {
    position: relative;
    background-image: url('../img/map-stmk.svg');
    background-size: 100% 100%;
    /* background-position: 50% 50%; */
    background-position: right 0px;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    padding-left: 50px;
}

.exten {
    position: absolute;
    top: 30%;
    left: 0;
    width: 300px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    padding: 15px 20px;
    color: #fff;
    background-color: var(--main-blue-color);
    border-radius: 20px;
    text-align: center;
}

.our-clients {
    position: absolute;
    top: 20%;
    right: 0;
    width: 340px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    padding: 15px 20px;
    color: #fff;
    background-color: var(--main-blue-color);
    border-radius: 20px;
    text-align: center;
}

.our-clients p {
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
}
.our-clients ul {
    text-align: left;
}

.our-clients ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.clients-logo {
    display: inline-block;
    content: '1';
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: #fff;
}